extends layout

block content
	h1 Hello Boulder!

	button.button(type= 'button') Load Countries

	form.form
		| Desired Country 
		input(type='text', name='Desire Country:')
		input(type='submit', value='Submit')